/*--------head------------*/
.head {
  padding: 1vh 0;
  background-color: white;
  color: black;
}
.logo h1 {
  font-size:2rem;
  font-weight: 900;
}
.head .icon {
  margin-left: 10px;
}
/*--------head------------*/
/*--------header------------*/
header {
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0;
  z-index: 10;
}

header .nav {
  display: flex !important;
}
header li {
  margin-right: 40px;
}
header ul {
  padding-top: 1.8rem;
}
.home{
  padding-top: 2.6vh;
}
header ul li a {
  color: black;
  font-weight: 500;
  transition: 0.5s;
}
header ul li a:hover {
  color: black;
}
.start {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-weight: 600;
  padding: 30px 70px;
  padding: 1rem;
  color: #fff;
  clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
  /* width: fit-content; */
}
.toggle {
  display: none;
}
.button .buttonhero{
  color: white;
  background-color: black;
}
.social{
  padding-top: 3vh;
}
.social i{
  background-color: black;
}
/*--------header------------*/
@media screen and (max-width: 768px) {
  .start {
    clip-path: none;
  }
  header {
    background-color:#5090cc,transparent ;
    position: relative;
    /* height: 1rem; */
  }
  header ul.flexSB {
    display: none;
  }
  header ul li {
    margin-bottom: 20px;
  }
  .toggle {
    display: block;
    background: none;
    color: #fff;
    font-size: 30px;
    position: absolute;
    right: 0;
    bottom: 0;
    top: -20px;
  }
  .mobile-nav {
    position: absolute;
    top: 8.5vh;
    left: 0;
    width: 100%;
    background-color: #5090cc;
    transition: 0.3s ease
  }
  .start{
    clip-path: polygon(0% 0%, 88% 0, 100% 100%, 0% 100%);
  }
  .social{
    display: none;
  }
  
}
@media screen and (max-width: 300px){
  .logo h1 {
    font-size:1rem;
    /* font-weight: 900; */
  }
}

