.hero {
  background-image: url("../../../../public/images/bg2.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: center;
  width: 100%;
  height: 100%;
  padding-top: 40vh;
  padding-right: 50px;
  color: #fff;
}
.hero h1{
  position: relative;
  font-size:2rem;
  font-weight: 700;
}
.hero  h3 {
  position: relative;
  color: #fff;
  font-size:1.5rem;
  padding-bottom:2vh;
}
.hero #heading {
  text-align: left;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 768px) {
  .margin {
    height: 20vh;
  }
  .hero {
    background-position: center;
    padding-top: 50%;
    height: 100vh;
  }
  .hero .row {
    width: 100%;
  }
  .hero h1{
    font-size: 30px;
    font-weight: 700;
  }
  .hero h3{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1200px){
  .hero h1{
    font-size: 2rem;
    font-weight: 700;
  }
  .hero .row {
    width: 80%;
  }
  .hero h3{
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 1vh;
  }
}
@media screen and (max-width: 900px){
  
  .hero .row {
    width: 90%;
  }
}
