<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body>
    <div class="main__container">

        <div class="cards__container swiper mySwiper">
            <div class="cards  swiper-wrapper">

                <div class="card swiper-slide">

                    <img class="card__img" src="./thumbnail1.jfif" alt="img">
                    <div class="card__desc">
                        <div class="card__title">
                            Web Development
                        </div>
                        <div class="detail">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, voluptate. Beatae repudiandae
                            nemo qui est rem pariatur nulla voluptatem voluptas?
                        </div>
                        <div class="buttons">
                            <button class="btn">Read More</button>
                        </div>
                    </div>

                </div>

                <div class="card swiper-slide">

                    <img class="card__img" src="./thumbnail2.jpg" alt="img">
                    <div class="card__desc">
                        <div class="card__title">
                            Machine Learning
                        </div>
                        <div class="detail">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, voluptate. Beatae repudiandae
                            nemo qui est rem pariatur nulla voluptatem voluptas?
                        </div>
                        <div class="buttons">
                            <button class="btn">Read More</button>
                        </div>
                    </div>

                </div>

                <div class="card swiper-slide">

                    <img class="card__img" src="./thumbnail3.jfif" alt="img">
                    <div class="card__desc">
                        <div class="card__title">
                            Data Science
                        </div>
                        <div class="detail">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, voluptate. Beatae repudiandae
                            nemo qui est rem pariatur nulla voluptatem voluptas?
                        </div>
                        <div class="buttons">
                            <button class="btn">Read More</button>
                        </div>
                    </div>

                </div>

                <div class="card swiper-slide">

                    <img class="card__img" src="./thumbnail4.jfif" alt="img">
                    <div class="card__desc">
                        <div class="card__title">
                            Android Development
                        </div>
                        <div class="detail">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, voluptate. Beatae repudiandae
                            nemo qui est rem pariatur nulla voluptatem voluptas?
                        </div>
                        <div class="buttons">
                            <button class="btn">Read More</button>
                        </div>
                    </div>

                </div>

            </div>
            
        </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>


    </div>

    <script src="swiper-bundle.min.js"></script>
    <script src="script.js"></script>

</body>

</html>