.main__container{
    background: url(./bg2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: sans-serif;
}



.cards{
    width: 100%;
    
    padding: 0.5rem;
    /* border: 1px solid white; */
    border-radius: 1rem;
    display: flex;
    gap: 1rem; 
}

.card{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background:linear-gradient(to top right,rgba(0, 0, 0, 0.9),rgba(0,0,0,0.8)) ;
    border-radius: 1rem ;
    margin: 1rem;
    border: 1px solid #00c5c8;
    box-shadow: 10px 10px 20px black;
    min-height: 300px;
    min-width: 300px;
    max-width: 300px;
    max-width: 350px;
}

.card__desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    padding: 0.5rem ;
}
.card__img{
    width: 100%; 
    border-radius: 1rem 1rem  0 0;
}

.card__title{
    font-weight: 900;
    font-size: 1.5rem;
    color: #00c5c8;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), #00c5c8);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.detail{
    font-size: 0.8rem;
    color: rgb(151, 138, 138);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
    padding: 0.6rem;
    border-radius: 0.5rem;
    border: 1px solid #00c5c8;
    background-color: white;
    font-weight: 600;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    transition: all 1s;
    color: #00c5c8;
}

.btn:hover{
    background-color: #00c5c8;
    border-color: white;
    color: white;
    transform: scale(1.05);
}