.about-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-item {
  margin: 3rem;
  display: flex;
  gap: 20px;
}

.about-item-alt .about-item-left {
  order: 2; /* Change the order for alternating items */
}
.recentdata{
  display: flex;
}
.recentdata p{
  padding: 0 4rem;
}



.about-item-left img {
  max-width: 40vw;
  height: auto;
}
.about-recent-content {
  background-color: #f7f7f7;
  padding: 1rem 4rem;
  display: flex;
  
  margin-bottom: 20px;
}

.about-recent-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.about-recent-content p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}


.about-item-right {
  flex: 1;
  margin: 4rem;
}

.about-item-right h3 {
  font-size: 24px;
  margin-bottom: 2rem;
}

.about-item-right p {
  font-size: 16px;
  line-height: 1.6;
}
